/* Place custom styles below */

.centerDiv {
    width: 400px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
}

.buttonToRight {
    float: right;
}

.wrap {
    width: 800px;
    margin-left: 200px;
}
.documentLibrary {
    float: left;
}

.users {
    float: right;
}
